* {
  padding: 0;
  margin: 0;
  font-family: "Faktum", sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.alonepicture-image {
  width: 100%;
  height: 90%;
  background-color: #073b43;
  overflow: hidden;
}
.leftside-naptec {
  width: 100%;
  height: 100%;
  display: flex;
}
.leftside-up {
  display: flex;
  flex-direction: column;
}
.leftside-naptec img {
  object-fit: contain;
  width: 30%;
  height: 70%;
}
.leftside-elegancealways {
  width: 100%;
  height: 100%;
  display: flex;
}
.leftside-elegancealways img {
  object-fit: contain;
  width: 35%;
  height: 69%;
}
.footer-leftside {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 32px;
}
.footer-flex {
  padding: 36px;
  display: flex;
  background-color: #073b43;
}
.rightsideup {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.leftside-contact p {
  color: white;
  font-size: 1.2rem;
}
.leftside-number p {
  color: white;
  font-size: 1.2rem;
}
.rightside-email {
  display: flex;
  gap: 12px;
}
.placeholder input::placeholder {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.placeholder {
  flex: 1;
}
.subscribebutton {
  flex: 0.5;

  padding: 10px 28px;
  border-radius: 100px;
  background-color: #d9cdab;
  color: #073b43;
  border-color: transparent;
  border: 1px solid;
}
.subscribebutton p {
  margin-top: 5px;
  text-align: center;
  font-size: 1.2rem;
}
.rightside-down {
  display: flex;
  flex: 1;
  height: 60%;
  align-items: center;
}
.rightside-down ul {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.rightside-down ul li {
  font-size: 1.2rem;
}
.placeholder input:focus {
  border: 1px solid black;
}
.placeholder input {
  border-radius: 30px;
  width: 100%;
  padding: 16px 20px;
  background-color: #1a4a52;
  color: white;
  font-size: 1.3rem;

  box-shadow: none;
  outline: none;

  border: 1px solid #396269;
}
.rightside-getnews h1 {
  color: white;
  font-weight: 100;
  font-size: 2rem;
}
.footer-rightside {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 64px;
}
.leftside-down {
  padding: 32px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.leftsidemail p {
  color: white;
  font-size: 1.2rem;
}
.alonepicture-image img {
  width: 100%;
  height: 90%;
  scale: 1.2;

  height: 90%;
}
.header-middle ul li a {
  color: white;
}

.industriesweserve-flex {
  background-color: #073b43;
  display: flex;
  flex-direction: column;
  padding: 28px;
  gap: 48px;
}
.industriesweserve-title {
  margin-left: 28px;
}
.alonepicture {
  height: 525px;
  background-color: #073b43;
}
.industriesweserve-title h1 {
  font-size: 3.5rem;
  color: #fff;
}
.industriesweserve-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  margin-left: 28px;
}
.industriesweserve-grid ul {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.elegancealways-flex {
  display: flex;
  background-color: #073b43;
  height: 30vh;

  justify-content: flex-end;
  padding: 32px;
  border-top: 1px solid white;
}
.industriesweserve-grid ul li {
  font-size: 1.6rem;
}
.industriesweserve-grid ul li::before {
  width: 0.8rem;
  height: 0.8rem;
  content: "";
  display: inline-block;
  border-top-right-radius: 330px;
  background-color: #d9cdab;
  margin-right: 12px;
}
.customdesign {
  position: relative;
}
.customdesign-image {
  position: relative;
  z-index: 1;
  height: 100%;
  overflow: hidden;
}
.comingsoonbutton {
  padding: 18px 28px;
  border-radius: 100px;
  background-color: transparent;
  color: white;
  border-color: white;
  border: 1px solid;
  transition: background-color 0.5s, color 1s, border-color 0.5s;
  width: 50%;
}
.comingsoonbutton:hover {
  color: #073b43;
  background-color: #fff;
}
.comingsoonbutton p {
  font-size: 1.2rem;
}
.customdesign-title h1 {
  font-size: 3.2em;
  color: white;
  letter-spacing: 3px;
}
.customdesign-text {
  color: white;
  font-size: 1.2rem;
  font-weight: 100;
}
.customdesign-content {
  gap: 16px;
  left: 48px;
  position: absolute;
  height: 60%;
  width: 60%;
  display: flex;
  flex-direction: column;
}
.customshape2 {
  align-items: center;
  justify-content: center;
  display: flex;
  border-top-right-radius: 80% 97%;
  border: 1px solid white;
  background-color: transparent;
  position: absolute;
  z-index: 9;
  height: 75%;
  width: 700px;
  margin-left: 32px;
  top: 10%;
  left: 1%;
}

.customdesign-shape {
  align-items: center;
  justify-content: center;
  display: flex;
  border-top-right-radius: 80% 97%;

  background-color: #073b43;
  position: absolute;
  z-index: 10;
  height: 75%;
  width: 700px;
  margin-left: 32px;
  top: 14%;
}
.customdesign-image img {
  width: 100%;
  scale: 1.19;
  height: 100%;
}
.bestsellers-colors {
  height: 47px;
  display: flex;
  gap: 15px;
}
.color-type {
  width: 11%;
}
.bestsellers-product:nth-child(1) .bestsellers-minilogo {
  width: 19%;
}
.bestsellers-product:nth-child(4) .bestsellers-minilogo {
  width: 17%;
}

.wholesale-content {
  display: flex;
  flex-direction: column;
  padding: 48px;
  flex: 0.8;
  gap: 18px;
}
.wholesale-text p {
  font-size: 1.2rem;
  font-weight: lighter;
  color: #073b43;
  line-height: 2rem;
}
.color-type img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.wholesaleflex {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #d9cdab;
  gap: 48px;
}
.wholesale-shape {
  position: relative;
  width: 470px;
  height: 470px;
  transform: translate(10%, -15%);
  overflow: hidden;
  z-index: 4;
  border-bottom-right-radius: 100%;
}
.wholesale-title {
  align-self: flex-start;
  font-size: 2.5rem;
  color: #073b43;
  font-weight: lighter;
  letter-spacing: 2px;
  text-wrap: stable;
}
.wholesale-shape2 {
  position: absolute;
  width: 470px;
  height: 470px;
  transform: translate(10%, -15%);
  overflow: hidden;
  z-index: 5;
  border-bottom-right-radius: 100%;
  border: 1px solid white;
  transform: translate(15%, -10%);
}

.wholesale-shape img {
  scale: 1.5;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.color-type:hover {
  opacity: 0.5;
}
.bestsellers-options:hover {
  scale: 1.01;
}
.bestsellers-options {
  height: 60px;
  display: flex;

  align-items: center;
}
.bestsellers-options div p {
  text-align: center;
  color: #073b43;
}
.bestsellers-options div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9cdab;
  height: 80%;
  width: 90%;
}
.bestsellers-product {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.bestsellers-product-image {
  display: flex;

  justify-content: center;
  align-items: center;
}
.bestsellers-price p {
  color: #073b43;
  font-weight: 600;
}
.bestsellers-minilogo {
  width: 15%;
}
.bestsellers-minilogo img {
  width: 100%;
  object-fit: contain;
}
.bestsellers-product-image img {
  height: 90%;
  width: 90%;
  object-fit: contain;
}
.bestsellers-text p {
  color: #073b43;
  font-weight: 700;
}
.bestsellers-flex {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.bestsellers-title h1 {
  font-size: 3.2rem;
  color: #073b43;
}

.bestsellers-grid {
  gap: 12px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
header {
  transition: top 0.3s ease-in-out;
  width: 100%;
  z-index: 12;
}
.naptecbrand:hover .brandlogo img {
  width: 40%;
  transform: translateY(-50px);
}
.naptecbrand:hover .branddescription {
  display: flex;
  opacity: 1;
}
.naptecbrand:hover .brandlink {
  opacity: 1;
  display: flex;
}
.naptecbrand {
  height: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}
.brandlogo {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.branddescription {
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
  display: none;
  justify-content: center;
  width: 100%;
}

.branddescription p {
  text-wrap: pretty;
  text-align: center;
  color: rgb(16, 41, 45);

  font-size: 1.1rem;
  font-weight: 100;
}
.brandlogo img {
  transform: translateY(0);
  height: 100%;
  width: 80%;
  object-fit: contain;
  transition: width 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.brandlink {
  flex: 0.2;
  display: none;
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
}

.brandlink a {
  text-decoration: underline;
  color: rgb(16, 41, 45);
}
.naptec-brands-flex {
  display: flex;
  flex-direction: column;
  height: 75vh;
  background-color: #d9cdab;
  padding: 16px;
}
.naptec-brands-title {
  min-height: 40%;
  align-self: center;
  display: flex;
}
.naptec-brands-title h1 {
  font-size: 3.2rem;
  align-self: center;
  color: #073b43;
  letter-spacing: 2px;
}
.aboutNaptecflex {
  display: flex;
  gap: 32px;
  background-color: #073b43;
}
.brands-flex {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex: 1;
  max-height: 60%;
  gap: 8px;
  flex-wrap: wrap;
}
.naptecbrand:last-child img {
  width: 60%;
}
.about-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #073b43;
  justify-content: center;
  gap: 50px;
  padding: 24px;
}
.aboutNaptec h1 {
  color: #fff;
  font-size: 3.5rem;
  letter-spacing: 2px;
}

.elegancealwaysLogo {
  align-self: last baseline;
}
.aboutus-textcontent p {
  color: white;
  font-size: 1.3rem;

  line-height: 1.8rem;
  font-weight: 50;
}
.aboutusimage {
  flex: 0.9;
}
.aboutusimage img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.product-type-name p {
  width: 50%;
  color: white;
  font-size: 1.3rem;
  text-wrap: wrap;
}
.infobarflex {
  width: 100%;
  display: flex;
  background-color: #d9cdab;
  flex-wrap: wrap;
  align-items: center;
  padding: 12px;
}
.productsgrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.producttype svg path {
  transform-origin: 50% 50%;
}
.productsectionflex {
  display: flex;
  flex-direction: column;

  background-color: #073b43;
  padding: 28px;
  gap: 52px;
}
.categories-text h1 {
  font-size: 4rem;
  color: white;
  font-weight: 600;
}
.productCategories {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.productCategories-normaltext p {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
.productCategories-bigtext {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.allcategoriesbutton {
  border: 1px solid white;
  border-radius: 300px;
  padding: 12px 40px;
  color: white;
  transition: background-color 0.7s, color 1s, border-color 0.7s;
}
.allcategoriesbutton p {
  font-weight: 600;
}
.infobartext p {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 800;
  color: #073b43;
  text-wrap: nowrap;
  margin-right: 18px;
}
.product-type-image {
  height: 460px;

  width: 300px;
}
.product-type-image img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.producttype {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product-type-info {
  display: flex;
  justify-content: space-between;
}
.perkelement {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 12px;
  padding: 8px;
}
div.header {
  display: flex;

  background-color: #073b43;
  padding: 20px;

  align-items: center;
}
.searchbarrect {
  display: flex;
  border: 1px solid white;
  justify-content: center;
  flex: 1;
}
.searchbarradius {
  flex: 1;
  display: flex;
  padding: 6px;
  align-items: center;
}
.searchbarradius div input {
  background-color: transparent;
  border: transparent;
  color: white;
}
.searchinput {
  flex: 1;
}
.searchbarradius:focus {
  border-radius: 16px;
  border: 1px solid white;
}
.searchbarradius div input:focus {
  outline: none;
}

.backgroundimage {
  position: relative;

  height: 100vh;

  z-index: 1;
}
.bigtext {
  max-width: 800px;
}
.info {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px;
}
.backgroundimage h1 {
  font-size: 5.7rem;
  line-height: 5.5rem;
  text-wrap: wrap;
  color: white;
  text-align: center;

  position: relative;
  isolation: isolate;
  letter-spacing: 0.2rem;
}
.mediumText p {
  font-size: 1.75rem;
  isolation: isolate;
  text-align: center;
  color: white;
}
.getaquote2 {
  isolation: isolate;
  border: 1px solid white;
  border-radius: 300px;
  padding: 20px 32px;
  width: 276px;
  font-size: 20px;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.getaquote2:hover {
  background-color: #073b43;
  border-color: #073b43;
}
.getaquote2 p {
  text-align: center;
  font-weight: 700;
  color: white;
}
.mediumText {
  max-width: 800px;
  padding: 16px;
}
.backgroundimage::before {
  background-image: url(images/firstsectionimage.webp);
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  filter: brightness(80%);
  pointer-events: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.searchbar div {
  color: gainsboro;
}
.cancelsearch {
  flex: 0.1;
  align-self: center;
}

.navbarbig p {
  color: white;
  font-size: 1.2rem;
}
.searchlogo {
  scale: 1;
  transition: scale 0.4s ease-in-out;
}
.searchlogo:hover {
  scale: 1.2;
}
.cancelsearch {
  scale: 1;
  transition: scale 0.4s ease-in-out;
}
.cancelsearch:hover {
  scale: 1.05;
}
.searchbar {
  gap: 8px;
  margin-left: 45px;
  display: none;
  height: 70%;
  width: 60%;
}
.search {
  scale: 1;
  transition: scale 0.2s ease-in-out;
}
.search:hover {
  scale: 1.2;
}
.arrowicon {
  height: 25px;
  width: 25px;
}
.arrowicon img {
  height: 100%;
  width: 100%;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  position: relative;
  top: 5%;
}
.products {
  display: flex;
  justify-content: space-between;
}
.navbarbig {
  background-color: #073b43;
  height: inherit;
  position: absolute;
  width: 100%;
  padding: 12px;
  display: none;

  z-index: 3;
}
.navbarbig2 {
  width: 100%;
  position: absolute;
  z-index: 4;
  right: 1%;

  flex-direction: column;
  display: none;
  top: 5%;
  left: 100%;
  gap: 30px;
}
.navbarbig2 h3,
ul li {
  color: white;
}
.closebutton {
  position: absolute;
  z-index: 4;
  right: 9%;
}
.list ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.tophalf {
  padding: 12px;
  background-color: #073b43;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.customdesignimage {
  width: 100%;
  height: 100%;
}
.bothalf {
  background-color: #073b43;
  padding: 24px;
}
.customdesignimage a img {
  width: 100%;
}

div.header-left .header-left-image img {
  max-width: 155px;
  max-height: 30px;
}
div.header-middle {
  display: flex;
  flex: 2;
  justify-content: center;
}
div.header-middle ul {
  justify-content: center;
  display: flex;
  list-style: none;
  gap: 34px;
  color: white;
  font-weight: 50;
}
div.header-right {
  display: flex;
  align-items: center;
}
.header-left {
  padding: 3px;
}
.wholesale-button {
  padding: 18px 28px;
  border-radius: 100px;
  background-color: transparent;
  color: #073b43;
  border-color: white;
  width: 50%;
  border: 1px solid;
}
.wholesale-button p {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}
div.getaquotebutton {
  padding: 10px 28px;
  border-radius: 100px;
  background-color: transparent;
  color: white;
  border-color: white;
  border: 1px solid;
  transition: background-color 0.7s, color 1s, border-color 0.7s;
}
.getaquotebutton p {
  font-size: 1rem;
}
div.header-right {
  display: flex;
  gap: 24px;
}
.producto:hover {
  .navbarbig {
    display: flex;
  }
  .options {
    display: none;
  }
  .navbarbig2 {
    display: flex;
    flex-direction: row;
  }
}
@font-face {
  font-family: "Faktum"; /* Custom name for the font */
  src: url("Rene\ Bieder\ -\ Faktum\ Test\ Regular.otf") format("truetype"),
    url("Rene\ Bieder\ -\ Faktum\ Test\ Bold.otf") format("opentype");
  font-weight: normal; /* Optional: Specify weight */
  font-style: normal; /* Optional: Specify style */
}
.menu a img:hover {
  scale: 1.07;
  cursor: pointer;
}
.arrowicon img:hover {
  cursor: pointer;
}

.getaquotebutton:hover {
  background-color: white;
  color: black;
  border-color: transparent;
}
.allcategoriesbutton:hover {
  background-color: white;
  color: black;
  border-color: transparent;
}

.menu a img {
  width: 25px;
}
.menu {
  display: none;
}
a {
  text-decoration: none;
}
.producto {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 0;
}

@media (max-width: 986px) {
  .rightside-down ul {
    flex: initial;
  }

  .leftside-naptec img {
    height: auto;
    width: 34%;
  }
  .rightside-down {
    justify-content: space-between;
  }
  .leftside-elegancealways img {
    height: 48%;
  }
  .leftside-naptec {
    justify-content: flex-end;
  }
  .leftside-down {
    padding: 0;
  }
  .leftside-elegancealways {
    justify-content: flex-end;
  }
  .footer-flex {
    flex-direction: column-reverse;
    gap: 22px;
  }
  .footer-leftside {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .elegancealways-flex {
    justify-content: center;
    height: 15vh;
  }
  .wholesaleflex {
    gap: 0;
  }
  .wholesale-content {
    padding: 16px;
  }
  .wholesale-button {
    width: 32%;
  }
  .wholesale-title h1 {
    font-size: 2rem;
    width: 70%;
  }
  .wholesale-shape2 {
    transform: translate(1%, -9%);
    position: absolute;
    width: 98%;
    height: 346px;
    border-bottom-right-radius: 0;
  }
  .wholesale-shape {
    border-bottom-right-radius: 0;
    width: 95%;
    transform: translate(3%, -15%);
    height: 346px;
  }
  .wholesale-shape img {
    scale: 1;
    object-fit: cover;
  }

  .wholesaleflex {
    flex-direction: column;
  }

  .industriesweserve-grid ul li {
    font-size: 1.4rem;
  }
  .industriesweserve-title h1 {
    font-size: 3rem;
  }
  .industriesweserve-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
    row-gap: 28px;
  }

  .customdesign {
    height: 70vh;
  }
  .bestsellers-grid {
    grid-template-columns: 1fr 1fr;
  }
  .naptecbrand:last-child img {
    width: 80%;
  }
  .brandlogo img {
    width: 80%;
  }
  .naptecbrand:hover .brandlogo img {
    transform: translateY(-10px);
    width: 60%;
  }
  .brands-flex {
    grid-template-columns: 1fr 1fr;
  }
  .naptec-brands-flex {
    padding: 49px;
    height: auto;
  }

  .branddescription p {
    font-size: 0.8rem;
  }
  .naptec-brands-title h1 {
    font-size: 2rem;
  }
  div.header-middle {
    display: none;
  }
  .menu {
    display: block;
    flex: 1;
  }
  .header-left {
    flex: 1;
    align-self: center;
  }
  .header-right {
    flex: 1;
  }
  .getaquotebutton p {
    text-wrap: nowrap;
  }
}
@media (max-width: 1277px) {
  .productsgrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .categories-text h1 {
    font-size: 2.5rem;
  }
  .product-type-image {
    width: 100%;
  }
}
@media (max-width: 786px) {
  .aboutNaptecflex {
    flex-direction: column-reverse;
  }
  .getaquotebutton {
    display: none;
  }
  .header-right {
    justify-content: end;
  }
  .header-left {
    justify-content: center;
    display: flex;
  }
}
@media (max-width: 678px) {
  .bestsellers-product-image img {
    height: 100%;
    width: 100%;
  }
  .backgroundimage h1 {
    font-size: 4.7rem;
  }
  .mediumText p {
    font-size: 1.3rem;
  }
  .getaquote2 {
    width: 222px;
    font-size: 16px;
  }
}
@media (max-width: 572px) {
  .bestsellers-grid {
    grid-template-columns: 1fr;
  }
  .aboutNaptec h1 {
    font-size: 2rem;
  }
  .backgroundimage h1 {
    font-size: 3.7rem;
  }
  .mediumText p {
    font-size: 1.1rem;
  }
}

@media (max-width: 500px) {
  .leftside-down p {
    font-size: 0.9rem;
  }
  .leftside-naptec img {
    width: 100%;
  }
  .rightside-down ul li {
    font-size: 0.9rem;
  }
  .leftside-elegancealways img {
    width: 100%;
  }

  .rightside-email {
    flex-direction: column;
  }

  .alonepicture-image img {
    object-fit: cover;
  }
  .wholesale-shape2 {
    transform: translate(1%, -7%);
  }
  .wholesale-text p {
    font-size: 1rem;
  }
  .wholesale-title h1 {
    font-size: 1.5rem;
  }
  .wholesale-button p {
    font-size: 0.8rem;
  }
  .wholesale-button {
    width: fit-content;
  }
  .wholesale-shape {
    transform: translate(3%, -9%);
  }
  .industriesweserve-title h1 {
    font-size: 2rem;
  }
  .industriesweserve-grid ul li {
    font-size: 0.8rem;
  }
  .customshape2 {
    height: 60%;
    width: 343px;
    margin-left: 32px;
    top: 16%;
    left: 3%;
  }
  .customdesign-title h1 {
    font-size: 1.2rem;
  }
  .customdesign {
    height: 70vh;
  }
  .customdesign-shape {
    height: 60%;
    width: 343px;
    top: 20%;
  }
  .customdesign-text {
    font-size: 0.9rem;
  }
  .comingsoonbutton {
    width: auto;
  }

  .bestsellers-grid > :not(:nth-child(2)) .bestsellers-colors {
    display: none;
  }
  .bestsellers-options div {
    width: 100%;
  }
  .naptec-brands-title h1 {
    font-size: 1.5rem;
  }

  .product-type-image {
    width: 100%;
  }
  .productCategories-normaltext p {
    font-size: 0.9rem;
  }
  .allcategoriesbutton {
    padding: 5px 20px;
    text-wrap: nowrap;
  }
  .categories-text h1 {
    font-size: 1.7rem;
  }
  .productsgrid {
    grid-template-columns: 1fr;
  }
  .infobartext p {
    text-wrap: wrap;
  }

  div.header-left .header-left-image img {
    max-height: 25px;
  }
  .bothalf {
    display: flex;

    flex-direction: column;
    gap: 24px;
    border-top: 1px solid white;
  }

  .bigtext {
    max-height: none;
  }
  .backgroundimage h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: 0.1rem;
  }
  .mediumText p {
    font-size: 1rem;
  }
  .getaquote2 {
    width: 215px;
    font-size: 12px;
  }
}
.header-middle a:hover {
  text-decoration: underline;
}

.navbarbig {
  height: 100%;
}
.navbarbig2 {
  gap: 0;
  top: 8%;
  border-bottom: 2px solid white;
}
.options {
  background-color: #073b43;
  top: 0;
  margin-top: 40px;
}
@media (min-width: 988px) {
  .navbarbig2 {
    left: 0;
    gap: 50px;
    justify-content: space-evenly;
    position: fixed;
    background-color: #073b43;
    top: 12%;
    padding: 22px;
  }
  .navbarbig {
    height: 340px;
    top: 12.9%;
    background-color: white;
  }
  .head h3 {
    font-size: 12px;
  }
  .customdesignimage {
    width: 544px;
    height: 250px;
  }
  .closebutton {
    display: none;
  }
  .customdesignimage img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .bothalf {
    display: flex;
    justify-content: center;

    flex-direction: column;
    padding: 0;
  }
}
