* {
  padding: 0;
  margin: 0;
  font-family: "Faktum", sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
header {
  transition: top 0.3s ease-in-out;
  width: 100%;
  z-index: 5;
}
.naptecbrand:hover .brandlogo img {
  width: 40%;
  transform: translateY(-50px);
}
.naptecbrand:hover .branddescription {
  display: flex;
  opacity: 1;
}
.naptecbrand:hover .brandlink {
  opacity: 1;
  display: flex;
}
.naptecbrand {
  height: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}
.brandlogo {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.branddescription {
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
  display: none;
  justify-content: center;
  width: 100%;
}

.branddescription p {
  text-wrap: pretty;
  text-align: center;
  color: rgb(16, 41, 45);

  font-size: 1.1rem;
  font-weight: 100;
}
.brandlogo img {
  transform: translateY(0);
  height: 100%;
  width: 80%;
  object-fit: contain;
  transition: width 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.brandlink {
  flex: 0.2;
  display: none;
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
}

.brandlink a {
  text-decoration: underline;
  color: rgb(16, 41, 45);
}
.naptec-brands-flex {
  display: flex;
  flex-direction: column;
  height: 75vh;
  background-color: #d9cdab;
  padding: 16px;
}
.naptec-brands-title {
  min-height: 40%;
  align-self: center;
  display: flex;
}
.naptec-brands-title h1 {
  font-size: 3.2rem;
  align-self: center;
  color: #073b43;
  letter-spacing: 2px;
}
.aboutNaptecflex {
  height: 110vh;
  display: flex;
  gap: 32px;
  background-color: #073b43;
}
.brands-flex {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex: 1;
  max-height: 60%;
  gap: 8px;
  flex-wrap: wrap;
}
.naptecbrand:last-child img {
  width: 60%;
}
.about-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #073b43;
  justify-content: center;
  gap: 50px;
  padding: 24px;
}
.aboutNaptec h1 {
  color: #fff;
  font-size: 3.5rem;
  letter-spacing: 2px;
}

.elegancealwaysLogo {
  align-self: last baseline;
}
.aboutus-textcontent p {
  color: white;
  font-size: 1.3rem;

  line-height: 1.8rem;
  font-weight: 50;
}
.aboutusimage {
  flex: 0.9;
}
.aboutusimage img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.product-type-name p {
  width: 50%;
  color: white;
  font-size: 1.3rem;
  text-wrap: wrap;
}
.infobarflex {
  width: 100%;
  display: flex;
  background-color: #d9cdab;
  flex-wrap: wrap;
  align-items: center;
  padding: 12px;
}
.productsgrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.producttype svg path {
  transform-origin: 50% 50%;
}
.productsectionflex {
  display: flex;
  flex-direction: column;

  background-color: #073b43;
  padding: 28px;
  gap: 52px;
}
.categories-text h1 {
  font-size: 4rem;
  color: white;
  font-weight: 600;
}
.productCategories {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.productCategories-normaltext p {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
.productCategories-bigtext {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.allcategoriesbutton {
  border: 1px solid white;
  border-radius: 300px;
  padding: 12px 40px;
  color: white;
  transition: background-color 0.7s, color 1s, border-color 0.7s;
}
.allcategoriesbutton p {
  font-weight: 600;
}
.infobartext p {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 800;
  color: #073b43;
  text-wrap: nowrap;
  margin-right: 18px;
}
.product-type-image {
  height: 460px;

  width: 300px;
}
.product-type-image img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.producttype {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product-type-info {
  display: flex;
  justify-content: space-between;
}
.perkelement {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 12px;
  padding: 8px;
}
div.header {
  display: flex;

  background-color: #073b43;
  padding: 20px;

  align-items: center;
}
.searchbarrect {
  display: flex;
  border: 1px solid white;
  justify-content: center;
  flex: 1;
}
.searchbarradius {
  flex: 1;
  display: flex;
  padding: 6px;
  align-items: center;
}
.searchbarradius div input {
  background-color: transparent;
  border: transparent;
  color: white;
}
.searchinput {
  flex: 1;
}
.searchbarradius:focus {
  border-radius: 16px;
  border: 1px solid white;
}
.searchbarradius div input:focus {
  outline: none;
}

.backgroundimage {
  position: relative;

  height: 100vh;

  z-index: 1;
}
.bigtext {
  max-width: 800px;
}
.info {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px;
}
.backgroundimage h1 {
  font-size: 5.7rem;
  line-height: 5.5rem;
  text-wrap: wrap;
  color: white;
  text-align: center;

  position: relative;
  isolation: isolate;
  letter-spacing: 0.2rem;
}
.mediumText p {
  font-size: 1.75rem;
  isolation: isolate;
  text-align: center;
  color: white;
}
.getaquote2 {
  isolation: isolate;
  border: 1px solid white;
  border-radius: 300px;
  padding: 20px 32px;
  width: 276px;
  font-size: 20px;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.getaquote2:hover {
  background-color: #073b43;
  border-color: #073b43;
}
.getaquote2 p {
  text-align: center;
  font-weight: 700;
  color: white;
}
.mediumText {
  max-width: 800px;
  padding: 16px;
}
.backgroundimage::before {
  background-image: url(images/firstsectionimage.webp);
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  filter: brightness(80%);
  pointer-events: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.searchbar div {
  color: gainsboro;
}
.cancelsearch {
  flex: 0.1;
  align-self: center;
}

.navbarbig p {
  color: white;
  font-size: 1.2rem;
}
.searchlogo {
  scale: 1;
  transition: scale 0.4s ease-in-out;
}
.searchlogo:hover {
  scale: 1.2;
}
.cancelsearch {
  scale: 1;
  transition: scale 0.4s ease-in-out;
}
.cancelsearch:hover {
  scale: 1.05;
}
.searchbar {
  gap: 8px;
  margin-left: 45px;
  display: none;
  height: 70%;
  width: 60%;
}
.search {
  scale: 1;
  transition: scale 0.2s ease-in-out;
}
.search:hover {
  scale: 1.2;
}
.arrowicon {
  height: 25px;
  width: 25px;
}
.arrowicon img {
  height: 100%;
  width: 100%;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  position: relative;
  top: 5%;
}
.products {
  display: flex;
  justify-content: space-between;
}
.navbarbig {
  background-color: #073b43;
  height: inherit;
  position: absolute;
  width: 100%;
  padding: 12px;
  display: none;

  z-index: 3;
}
.navbarbig2 {
  width: 100%;
  position: absolute;
  z-index: 4;
  right: 1%;

  flex-direction: column;
  display: none;
  top: 5%;
  left: 100%;
  gap: 30px;
}
.navbarbig2 h3,
ul li {
  color: white;
}
.closebutton {
  position: absolute;
  z-index: 4;
  right: 9%;
}
.list ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.tophalf {
  padding: 12px;
  background-color: #073b43;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.customdesignimage {
  width: 100%;
  height: 100%;
}
.bothalf {
  background-color: #073b43;
  padding: 24px;
}
.customdesignimage a img {
  width: 100%;
}

div.header-left .header-left-image img {
  max-width: 155px;
  max-height: 30px;
}
div.header-middle {
  display: flex;
  flex: 2;
  justify-content: center;
}
div.header-middle ul {
  justify-content: center;
  display: flex;
  list-style: none;
  gap: 34px;
  color: white;
  font-weight: 50;
}
div.header-right {
  display: flex;
  align-items: center;
}
.header-left {
  padding: 3px;
}

div.getaquotebutton {
  padding: 10px 28px;
  border-radius: 100px;
  background-color: transparent;
  color: white;
  border-color: white;
  border: 1px solid;
  transition: background-color 0.7s, color 1s, border-color 0.7s;
}
.getaquotebutton p {
  font-size: 1rem;
}
div.header-right {
  display: flex;
  gap: 24px;
}
.producto:hover {
  .navbarbig {
    display: flex;
  }
  .options {
    display: none;
  }
  .navbarbig2 {
    display: flex;
    flex-direction: row;
  }
}
@font-face {
  font-family: "Faktum"; /* Custom name for the font */
  src: url("Rene\ Bieder\ -\ Faktum\ Test\ Regular.otf") format("truetype"),
    url("Rene\ Bieder\ -\ Faktum\ Test\ Bold.otf") format("opentype");
  font-weight: normal; /* Optional: Specify weight */
  font-style: normal; /* Optional: Specify style */
}
.menu a img:hover {
  scale: 1.07;
  cursor: pointer;
}
.arrowicon img:hover {
  cursor: pointer;
}

.getaquotebutton:hover {
  background-color: white;
  color: black;
  border-color: transparent;
}
.allcategoriesbutton:hover {
  background-color: white;
  color: black;
  border-color: transparent;
}

.menu a img {
  width: 25px;
}
.menu {
  display: none;
}
a {
  text-decoration: none;
}
.producto {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 0;
}

@media (max-width: 986px) {
  .naptecbrand:last-child img {
    width: 40%;
  }
  .brandlogo img {
    width: 40%;
  }
  .brands-flex {
    grid-template-columns: 1fr 1fr;
  }
  .naptec-brands-flex {
    height: 140vh;
  }
  .naptecbrand:hover .brandlogo img {
    transform: translateY(-10px);
    width: 20%;
  }
  .branddescription p {
    font-size: 0.8rem;
  }
  .naptec-brands-title h1 {
    font-size: 1.3rem;
  }
  div.header-middle {
    display: none;
  }
  .menu {
    display: block;
    flex: 1;
  }
  .header-left {
    flex: 1;
    align-self: center;
  }
  .header-right {
    flex: 1;
  }
  .getaquotebutton p {
    text-wrap: nowrap;
  }
}
@media (max-width: 1277px) {
  .productsgrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .categories-text h1 {
    font-size: 2.5rem;
  }
  .product-type-image {
    width: 100%;
  }
}
@media (max-width: 786px) {
  .aboutNaptecflex {
    flex-direction: column-reverse;
  }
  .getaquotebutton {
    display: none;
  }
  .header-right {
    justify-content: end;
  }
  .header-left {
    justify-content: center;
    display: flex;
  }
}
@media (max-width: 678px) {
  .backgroundimage h1 {
    font-size: 4.7rem;
  }
  .mediumText p {
    font-size: 1.3rem;
  }
  .getaquote2 {
    width: 222px;
    font-size: 16px;
  }
}
@media (max-width: 572px) {
  .backgroundimage h1 {
    font-size: 3.7rem;
  }
  .mediumText p {
    font-size: 1.1rem;
  }
}

@media (max-width: 500px) {
  .product-type-image {
    width: 100%;
  }
  .productCategories-normaltext p {
    font-size: 0.9rem;
  }
  .allcategoriesbutton {
    padding: 5px 20px;
    text-wrap: nowrap;
  }
  .categories-text h1 {
    font-size: 1.7rem;
  }
  .productsgrid {
    grid-template-columns: 1fr;
  }
  .infobartext p {
    text-wrap: wrap;
  }

  div.header-left .header-left-image img {
    max-height: 25px;
  }
  .bothalf {
    display: flex;

    flex-direction: column;
    gap: 24px;
    border-top: 1px solid white;
  }

  .bigtext {
    max-height: none;
  }
  .backgroundimage h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: 0.1rem;
  }
  .mediumText p {
    font-size: 1rem;
  }
  .getaquote2 {
    width: 215px;
    font-size: 12px;
  }
}
.header-middle a:hover {
  text-decoration: underline;
}

.navbarbig {
  height: 100%;
}
.navbarbig2 {
  gap: 0;
  top: 8%;
  border-bottom: 2px solid white;
}
.options {
  background-color: #073b43;
  top: 0;
  margin-top: 40px;
}
@media (min-width: 988px) {
  .navbarbig2 {
    left: 0;
    gap: 50px;
    justify-content: space-evenly;
    position: fixed;
    background-color: #073b43;
    top: 12%;
    padding: 22px;
  }
  .navbarbig {
    height: 340px;
    top: 12.9%;
    background-color: white;
  }
  .head h3 {
    font-size: 12px;
  }
  .customdesignimage {
    width: 544px;
    height: 250px;
  }
  .closebutton {
    display: none;
  }
  .customdesignimage img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .bothalf {
    display: flex;
    justify-content: center;

    flex-direction: column;
    padding: 0;
  }
}
