* {
  padding: 0;
  margin: 0;
  font-family: "Faktum", sans-serif;
  box-sizing: border-box;
}
body {
  height: 300vh;
}
ul {
  list-style: none;
}
header {
  transition: top 0.3s ease-in-out;
  width: 100%;
  z-index: 5;
}

div.header {
  display: flex;

  background-color: #073b43;
  padding: 20px;

  align-items: center;
}
.searchbarrect {
  display: flex;
  border: 1px solid white;
  justify-content: center;
  flex: 1;
}
.searchbarradius {
  flex: 1;
  display: flex;
  padding: 6px;
  align-items: center;
}
.searchbarradius div input {
  background-color: transparent;
  border: transparent;
  color: white;
}
.searchinput {
  flex: 1;
}
.searchbarradius:focus {
  border-radius: 16px;
  border: 1px solid white;
}
.searchbarradius div input:focus {
  outline: none;
}
.searchbar div,
p {
  color: white;
}
.cancelsearch {
  flex: 0.1;
}
.navbarbig p {
  color: white;
  font-size: 1.2rem;
}
.searchbar {
  margin-left: 45px;
  display: none;
  height: 70%;
  width: 60%;
}
.search {
  scale: 1;
  transition: scale 0.2s ease-in-out;
}
.search:hover {
  scale: 1.2;
}
.arrowicon {
  height: 25px;
  width: 25px;
}
.arrowicon img {
  height: 100%;
  width: 100%;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  position: relative;
  top: 5%;
}
.products {
  display: flex;
  justify-content: space-between;
}
.navbarbig {
  background-color: #073b43;
  height: inherit;
  position: absolute;
  width: 100%;
  padding: 12px;
  display: none;
  top: 0;
  z-index: 3;
}
.navbarbig2 {
  width: 100%;
  position: absolute;
  z-index: 4;
  right: 1%;

  flex-direction: column;
  display: none;
  top: 5%;
  left: 100%;
  gap: 30px;
}
.navbarbig2 h3,
ul li {
  color: white;
}
.closebutton {
  position: absolute;
  z-index: 4;
  right: 9%;
}
.list ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.tophalf {
  padding: 12px;
  background-color: #073b43;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.customdesignimage {
  width: 100%;
  height: 100%;
}
.bothalf {
  background-color: #073b43;
  padding: 24px;
}
.customdesignimage a img {
  width: 100%;
}

div.header-left .header-left-image img {
  max-width: 155px;
  max-height: 30px;
}
div.header-middle {
  display: flex;
  flex: 2;
  justify-content: center;
}
div.header-middle ul {
  justify-content: center;
  display: flex;
  list-style: none;
  gap: 34px;
  color: white;
  font-weight: 50;
}
div.header-right {
  display: flex;
  align-items: center;
}
.header-left {
  padding: 3px;
}

div.getaquotebutton {
  padding: 10px 28px;
  border-radius: 100px;
  background-color: transparent;
  color: white;
  border-color: white;
  border: 1px solid;
  transition:
    background-color 0.7s,
    color 1s,
    border-color 0.7s;
}
.getaquotebutton p {
  font-size: 1rem;
}
div.header-right {
  display: flex;
  gap: 24px;
}
.producto:hover {
  .navbarbig {
    display: flex;
  }
  .options {
    display: none;
  }
  .navbarbig2 {
    display: flex;
    flex-direction: row;
  }
}
@font-face {
  font-family: "Faktum"; /* Custom name for the font */
  src:
    url("Rene\ Bieder\ -\ Faktum\ Test\ Regular.otf") format("truetype"),
    url("Rene\ Bieder\ -\ Faktum\ Test\ Bold.otf") format("opentype");
  font-weight: normal; /* Optional: Specify weight */
  font-style: normal; /* Optional: Specify style */
}
.menu a img:hover {
  scale: 1.07;
  cursor: pointer;
}
.arrowicon img:hover {
  cursor: pointer;
}
.getaquotebutton:hover {
  background-color: white;
  color: black;
  border-color: transparent;
}
a:visited {
  color: inherit;
}
.menu a img {
  width: 25px;
}
.menu {
  display: none;
}
a {
  text-decoration: none;
}
.producto {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 0;
}

@media (max-width: 986px) {
  div.header-middle {
    display: none;
  }
  .menu {
    display: block;
    flex: 1;
  }
  .header-left {
    flex: 1;
    align-self: center;
  }
  .header-right {
    flex: 1;
  }
  .getaquotebutton p {
    text-wrap: nowrap;
  }
}
@media (max-width: 786px) {
  .getaquotebutton {
    display: none;
  }
  .header-right {
    justify-content: end;
  }
  .header-left {
    justify-content: center;
    display: flex;
  }
}
@media (max-width: 500px) {
  div.header-left .header-left-image img {
    max-height: 25px;
  }
  .bothalf {
    display: flex;

    flex-direction: column;
    gap: 24px;
    border-top: 1px solid white;
  }
}
.header-middle a:hover {
  text-decoration: underline;
}
@media (min-width: 988px) {
  .navbarbig2 {
    left: 0;
    gap: 50px;
    justify-content: space-evenly;
    position: fixed;
    background-color: #073b43;
    top: 12%;
    padding: 12px;
  }
  .navbarbig {
    height: 340px;
    top: 12.9%;
    background-color: white;
  }
  .head h3 {
    font-size: 12px;
  }
  .customdesignimage {
    width: 544px;
    height: 250px;
  }
  .closebutton {
    display: none;
  }
  .customdesignimage img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .bothalf {
    display: flex;
    justify-content: center;

    flex-direction: column;
    padding: 0;
  }
}
